*.depend
*.[oa]
*.so
*.layout
*.suo*
*.sln*
*.ncb
*.obj*
*.vcproj*
*.vcxproj*
devel
*.svn*
*.obj*
icons
*~
*tags*
*.mk*
*.workspace*
projects
swig
makefiles
Makefile
*.cbp*
*.project*
*.vcproj*
*.ncb*
*.pdb*
*.cache*
*Upgrade*
*.swp
testbuild
testmono
buildgtk
osx-build
