[submodule "webconnect"]
	path = webconnect
	url = git://forge.rheia-framework.com/webconnect
[submodule "libxml2"]
	path = libxml2
	url = git://git.gnome.org/libxml2
[submodule "irrlicht"]
	path = irrlicht
	url = git://forge.rheia-framework.com/irrlicht
[submodule "plplot"]
	path = plplot
	url = git://forge.rheia-framework.com/plplot
