<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>org.rheia.app</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>rheia</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleName</key>
	<string>rheia</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4918</string>
	<key>CFBundleShortVersionString</key>
	<string>9.11</string>
	<key>CFBundleGetInfoString</key>
	<string>rheia version 9.11, (c) 2004-2009 Nicolas::Macherey</string>
	<key>CFBundleLongVersionString</key>
	<string>9.11, (c) 2004-2009 Nicolas::Macherey</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2004-2009, Nicolas Macherey</string>
	<key>CFBundleDisplayName</key>
	<string>rheia</string>
	<key>LSRequiresCarbon</key>
	<true/>
</dict>
</plist>
